<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
<meta charest="UTF-8"/>
<title>HELLO TWITTER</title>

<link href="/webjars/materializecss/1.0.0/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<h1>My First Heading</h1>
<p>My first paragraph.</p>
<p>hey hey hey</p>

<u1>
    <li th:each="tweet :  ${tweets}" th:text = "${tweet}" > Some tweet</li>
    <p>hey2 hey2 hey2</p>
</u1>
<script src="/webjars/jquery/2.2.4/jquery.js"></script>
<script src="/webjars/materializecss/1.0.0/js/materialize.js"></script>
</body>
</html>
